body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px;
}



ul {
  padding-left: 30px;
}

li {
  list-style: none;
}
.crayonPhysical {
  width: 300px;
  height: 40px;
  margin: 10px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.crayonPhysical:hover {
  color: black;
}

.drawingSection {
  float:right;
}

.sketchPad {
  width: 500px;
  height: 900px;
  border-style: solid;
  border-width: 2px;
  border-color: black;

}

.currentCrayon {
  width: 300px;
  height: 40px;
  margin: 10px;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

button {
  cursor: pointer;
  display: inline;
}

button:hover {
  background-color: magenta;
}

.button {
  
  list-style-type: none;
  /*margin: 0px;
  padding: 0px;*/
  display: inline;
}

.location {
  width: 200px;
  height: 200px;
  background-color: turquoise;
  margin: 20px;
  float: left;
}

.map {
  width: 750px;
  height: 300px;
  float: left;
}

.pic {
  width: 50px;
  border-radius: 200px;
}